.custom-dropdown {
  width: 100px;
  /* Customize the desired width */
  height: auto;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
}


.editor-wrapper {
  border: 1px solid #313037;
  /* padding: 10px; */
  /* height: 500px; */
  width: 800px;
  border: none;
  border-radius: 5px;
}

.editor-wrapper:focus-within {
  border: none;
  border: 1px solid #0094FF;
}

.editor-main {
  min-height: 200px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #000;
  color: white;
  border-radius: 0px 0px 5px 5px;
}

.editor-toolbar {
  border: none;
  /* background-color: #313037; */
  background-color: #313037;
  /* padding: 5px; */
  border-radius: 5px 5px 0px 0px;
}

.rdw-editor-toolbar {
  margin: 0;
}

.rdw-option-wrapper {
  border: none;
  background: none;
}


/****
  ======== ToolBar Icons ========
****/
.rdw-option-wrapper:hover {
  box-shadow: none;
  background-color: #000;
  border-radius: 5px;
}
